@font-face {
  font-family: "Monofett";
  src: url(FontsTimeline/Monofett-Regular.ttf);
}
@font-face {
  font-family: "Monoton";
  src: url(FontsTimeline/Monoton-Regular.ttf);
}
@font-face {
  font-family: "JejuHallasan";
  src: url(FontsTimeline/JejuHallasan-Regular.ttf);
}
::-webkit-scrollbar {
  display: none;
}
* {
  box-sizing: border-box;
}
body {
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--c.png) 0 0,
    auto;
  margin: 0;
  padding: 0;
  background-image: url(corkboard/design-space-paper-textured-background.jpg);
  background-position: center;
  background-size: contain;
  background-repeat: repeat;
  height: 50dvh;
  background-position: fixed;
  position: relative;
  scroll-behavior: smooth;
  box-sizing: border-box;
}

.navbar {
  background-color: rgba(0, 0, 0, 0.5);
  width: 100%;
  height: 90px;
  /* border: 1px solid white; */
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  z-index: 900;
  text-transform: uppercase;
}
.timelineH1 {
  order: 2;
  font-family: "Monofett";
  color: white;
  font-size: clamp(32px, 4.5vw, 70px);
  white-space: nowrap;
  text-align: center;
  width: fit-content;
  margin-right: auto;
  margin-left: auto;
  text-shadow: 0 0 10px black;
  letter-spacing: 5px;
  /* border: 1px solid red; */
  flex: 1;
}
.navUl {
  display: flex;
  flex-flow: row wrap;
  justify-content: space-evenly;
  align-content: center;
  flex: 1;
  /* border: 1px solid red; */
}
.ul1 {
  order: 1;
}
.ul2 {
  order: 3;
}
.navUl li {
  list-style-type: none;
  cursor:
    url("cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png") 0 0,
    auto;
}
.navUl li a {
  font-size: clamp(12px, 1.5vw, 22px);
  text-decoration: none;
  color: white;
  cursor:
    url("cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png") 0 0,
    auto;
}
@media (max-width: 650px) {
  .navUl li a {
    display: none;
  }
}
#timelineWrapper {
  /* border: 1px solid red; */
  position: relative;
  height: auto;
  min-height: 100dvh;
  width: 80%;
  margin-right: auto;
  margin-left: auto;
  margin-top: 5%;
}

.sectionOfMemory {
  /* border: 2px solid green; */
  width: 100%;
  height: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
}
.leftDiv {
  /* border: 2px solid rgb(255, 0, 0); */
  width: 50%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-end;
}
.rightDiv {
  /* border: 2px solid rgb(255, 0, 212); */
  width: 50%;
  height: 100%;
}

.sectionOfMemory:nth-child(odd) .leftDiv {
  /* background-color: yellow; */
  order: 2;
}
.floatMemory {
  /* border: 2px solid rgb(255, 255, 255); */
  max-width: 600px;
  width: 75%;
  height: 400px;
  height: min(400px, 15%);
  /* min-height: 250px; */
  /* position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); */
  /* border-radius: 5%; */
  border-radius: min(20px, 5px) min(20px, 5px) 0 0;
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(5px);
  box-shadow: 0 0 15px rgb(0, 0, 0);
  display: grid;
  place-items: center;
  transition: transform 0.2s ease-in-out;
  transform-origin: center;
  will-change: transform;
  overflow: hidden;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  z-index: 50;
}
.floatMemory:last-child {
  margin-bottom: 100px;
}

@media (max-width: 1100px) {
  #timelineWrapper {
    width: 100%;
    /* border: 2px solid red; */
  }
  .rightDiv {
    display: none;
  }
  .floatMemory {
    margin-bottom: 50px;
    height: min(300px, 15%);
    width: 100%;
  }
  .leftDiv {
    width: 80%;
  }
  figcaption {
    font-size: 20px !important;
  }
}

.floatMemory:hover {
  transform: scale(1.05);
}
.imageTitle {
  text-align: center;
  font-size: clamp(20px, 2vw, 40px);
  font-family: "Monoton";
  color: rgb(0, 0, 0);
  font-weight: 400;
  word-spacing: 5px;
  word-break: break-word;
  overflow-wrap: break-word;
  hyphens: auto;
  overflow: hidden;
}
.imageTimeline {
  width: 95%;
  height: 90%;
  place-items: center;
  border-radius: min(20px, 5px);
  overflow: hidden;
  object-fit: contain;
  position: center;
  aspect-ratio: 16 / 9;
  background-color: rgb(0, 0, 0);
  background-repeat: repeat-x;
  flex: 1;
}

#connectionSVG {
  position: absolute;
  content: "";
  /* border: 1px solid rgb(0, 81, 255); */
  width: 100%;
  height: 100%;
  pointer-events: none;
  z-index: 0;
  overflow: visible;
}

/*
.collectionOflines {
  border: 3px solid yellowgreen; 
  position: absolute;
  width: 50%;
  height: inherit;
  top: 0;
  left: 50%;
  transform: translateX(-50%);
}
*/
/*
.glowingLine {
  position: relative;
  border: 2px solid rgb(255, 0, 179); 
  height: 50%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  background-color: black; 
  margin-top: 30%;
}

.line {
  border-top: 2px solid rgb(0, 0, 0);
  border-right: 2px solid rgb(0, 0, 0);
  background-color: transparent;
  box-shadow: 10px -10px 10px rgb(255, 255, 255),
  -10px 10px 10px rgb(255, 255, 255) inset;
  filter: 
  drop-shadow(0 0 5px white)
  drop-shadow(0 0 5px white);
  width: 100%;
  border-radius: 25px;
  min-height: 50%;
  min-height: 100%;
  border: 2px solid blue; 
  background-color: yellow;
  transform: translateY(-2%);
  border: 1px solid blue;
  margin-bottom: 2px;
}
.line:first-child {
  margin-top: 30%;
}
.line:nth-child(even) {
  border-top: 2px solid rgb(0, 0, 0);
  border-left: 2px solid rgb(0, 0, 0);
  border-right: none;
  border-bottom: none;
  box-shadow: -10px -10px 10px rgb(255, 255, 255),
  10px 10px 10px rgb(255, 255, 255) inset;
   filter: 
  drop-shadow(0 0 5px white)
  drop-shadow(0 0 5px white); 
   border: 2px solid blue; 
   border: 1px solid blue; 
}
 .line:last-child{
  background-color: beige;
  height: 100dvh;
  margin-bottom: -50%;
  border-radius: 25px 25px 0 0;
  
} 
*/

.downLineImageRight {
  position: absolute;
  border-top: 3px solid rgba(255, 255, 255, 0.9);
  border-left: 3px solid rgba(255, 255, 255, 0.9);
  left: 50%;
  height: 60%;
  width: calc(40% - 5px);
  transform: translate(-50%, -80%);
}

.downLineImageLeft {
  position: absolute;
  border-top: 3px solid rgba(255, 255, 255);
  border-right: 3px solid rgba(255, 255, 255);
  left: 50%;
  height: 60%;
  width: calc(40% - 5px);
  transform: translate(-50%, -80%);
}

#shadow {
  position: absolute;
  width: 100%;
  height: 100%;
  background: #eeaeca;
  background: radial-gradient(rgba(39, 39, 39, 0.7));
  z-index: 998;
  top: 0;
  position: fixed;
  display: none;
}
.searchFld {
  height: 50px;
  width: 500px;
  margin-top: 15%;

  border-right: none;
  border-radius: 0 auto auto 0;
  border-top: 1px solid black;
  border-left: 1px solid black;
  border-bottom: 1px solid black;
  /* outline: none; */
}
.searchFld:hover,
.searchBtn:hover {
  cursor:
    url("/cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png") 0 0,
    auto;
}
/* .searchHolder{ */
/* width: 100%;
  height: 100%;
  border: 1px solid black; */
/* } */
.searchBtn {
  outline: none;
  height: 50px;
  width: 250px;
  margin-top: 15%;
  border-left: none;
  border-radius: 0 auto auto 0;
  border-top: 1px solid black;
  border-bottom: 1px solid black;
  border-right: 1px solid black;
  background-color: #ffc6cc;
}
.backBtn,
.editBtn {
  font-family: "addBtn";
  /* border: 1px solid blue; */
  font-weight: 400;
  width: min(150px, 25%);
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 2%;
  border: 1px solid #ffc6cc;
  background-color: #ff758f;
  padding: 10px 20px;
  border-radius: 15px;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  transition: all 0.3s ease-in-out;
  color: #ffffff;
}
.backBtn:hover {
  color: #ffe4e1;
  box-shadow: 0 0 15px #ffc6cc;
}
.editBtn {
  background-color: grey;
  border: none;
}

#popUpWindow {
  position: fixed;
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 65%;
  height: 70%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  box-shadow: 0 0 20px white;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  display: none;
  box-sizing: border-box;
}
.imageHolder {
  width: 50%;
  height: 100%;
  max-height: calc(100% - 50px);
  margin: 3%;
  display: flex;
  background-color: black;
  border-radius: 2%;
  box-sizing: border-box;
}
.slika {
  width: 100%;
  height: 100%;
  object-fit: contain;
  display: block;
  margin: 0 auto;
  box-sizing: border-box;
}

.btnHolder {
  width: 50%;
  height: 100%;
  /* border: 2px solid rgb(38, 0, 255); */
  display: flex;
  flex-direction: column;
  justify-content: center;
  border-left: 3px dashed #0000008a;
}
.btnHolder div {
  border: 2px solid red;
}
#divOfTitle {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  flex: 1;
}
#divOfText {
  height: auto;
  display: flex;
  flex-direction: column;
  margin-right: auto;
  margin-left: auto;
  flex: 8;
  width: calc(100% - 10%);
}
#divOfBtn {
  display: flex;
  justify-content: space-between;
  margin: auto auto 0;
  width: calc(100% - 10%);
}

#memoryAdd {
  position: fixed;
  right: 2%;
  bottom: 3%;
  width: min(250px, 15%);
  padding: 20px;
  border-radius: 20px;
  z-index: 955;
  background-color: rgba(0, 0, 0, 0.541);
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  transition: all 0.2s ease-in-out;
  color: #ffffff;
  border: 1px solid black;
  display: flex;
  justify-content: center;
  align-items: center;
}
#additionSign {
  display: none;
}
@media (max-width: 1500px) {
  #memoryAdd {
    width: fit-content;
    border-radius: 50%;
  }
  #btnDisapearingText {
    display: none;
  }
  #additionSign {
    display: block;
  }
}
#memoryAdd:hover {
  scale: 1.1;
  border: 1px solid rgb(255, 255, 255);
  box-shadow: 0 0 10px rgb(255, 255, 255);
}
#memoryAdd:focus {
  scale: 0.95;
}

#popUpWindowInsertionOfMemory {
  border: 2px solid rgb(255, 255, 255);
  background-color: rgba(255, 255, 255, 0.8);
  backdrop-filter: blur(20px);
  width: 65%;
  height: 70%;
  z-index: 999;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  border-radius: 20px;
  /* box-shadow: 0 0 20px white; */
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  display: none;
  box-sizing: border-box;
}
#titleAndBtn {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  /* border: 2px solid purple; */
  border-radius: inherit;
}
#titleOfPopUpInpDesc {
  text-align: center;
  font-size: 3.3em;
  font-family: "JejuHallasan";
  color: rgb(0, 0, 0);
  font-weight: 400;
  word-spacing: 5px;
  width: fit-content;
  /* border: 2px solid rgb(0, 89, 255); */
  width: 50%;
  flex: 5;
  margin-right: auto;
  margin-left: auto;
  /* position: absolute;
  top: 0;
  left: 50%;
  transform: translate(-50%); */
}

#backBtnMemory {
  background-color: #bd8100;
  border: 1px solid black;
  padding: 10px 40px;
  float: left;
  height: min-content;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  border-radius: 25px;
  font-size: large;
}
.empy {
  display: flex;
  justify-content: center;
  align-items: center;
  flex: 1;
  /* border: 2px solid rgb(0, 255, 13); */
  height: 100%;
  border-radius: inherit;
}

#addInpMemory {
  /* border: 2px solid red; */
  height: 100%;
  width: 100%;
  border-radius: inherit;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  overflow: none;
}
#wholeDiv {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  align-items: center;
  /* border: 2px solid black; */
  height: 100%;
  flex: 1;
  margin-bottom: 30px;
}
#leftSideOfPopUp {
  /* border: 2px solid red; */
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  height: 100%;
}
.custom-file-btn {
  border: 2px solid black;
  width: 50%;
  height: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  font-family: "JejuHallasan";
  font-size: 1.7em;
  border-radius: 5%;
}

#rightSideOfPopUp {
  /* border: 2px solid blue; */
  display: flex;
  flex-direction: column;
  flex: 1;
  height: 100%;
}
#divOfTextInp {
  /* border: 2px solid red; */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  align-items: center;
}
.memoryText {
  color: #cc3366;
  font-size: 1.25em;
  word-break: break-word;
  overflow-wrap: break-word;
}
.descriptionTextMemory {
  margin-left: 20px;
  /* border: 1px solid red; */
  display: block;
}
.boldText {
  font-size: 1.25em;
}
#bothInps {
  /* border: 2px solid green; */
  gap: min(20px, 5%);
  width: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}
textarea {
  max-width: 500px;
  width: 100%;

  height: 250px;
  resize: both;
}
#holderOfTextareaAndImg {
  /* border: 2px solid red; */
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}
#rightImageHolder {
  display: none;
}
.plus {
  display: none;
}

.inps {
  max-width: 500px;
  width: 100%;
  /* width: clamp(250px, 60%, 500px); */
  height: 50px;
}

.inps,
textarea {
  border: none;
  outline: none;
  border: 2px dotted black;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  border-radius: 3px;
}
#cityInput, #placeInput{
  /* border: 2px solid red; */
  flex: 1;
}
@media (max-width: 1620px) {

  #leftSideOfPopUp {
    display: none;
  }
  textarea {
    width: 100%;
  }
  #rightImageHolder {
    display: block;
    /* border: 2px solid white; */
    width: 100%;
    height: 100%;
  }
  #holderOfTextareaAndImg {
    display: flex;
    /* border: 2px solid red; */
    max-width: 500px;
    width: 100%;
    gap: min(20px, 5%);
    justify-content: space-between;
    align-items: center;
    box-sizing: border-box;
  }
  .custom-file-btn {
    border: 2px solid rgb(0, 0, 0);
    width: 100%;
    height: 100%;
    color: rgb(0, 0, 0);
    background-color: white;
  }
  #backBtnMemory {
    display: none;
  }
  #rightColor {
    display: none;
  }
  #popUpWindowInsertionOfMemory {
    background-color: #bd8100;
    width: min-content;
    padding: 0 40px;
  }
  #titleOfPopUpInpDesc {
    color: white;
    font-size: 60px;

    margin-top: 50px;
  }
  .empy {
    display: none;
  }
  #uploadImgDisap {
    display: none;
  }
  .plus {
    /* border: 2px solid red; */
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 100px;
  }
}
@media (max-width: 650px) {
  #titleOfPopUpInpDesc{
    font-size: clamp(15px, 10vw, 40px);

  }
  #popUpWindowInsertionOfMemory{
    width: 75%;
  }
  #addInpMemory {
    /* border: 2px solid red; */
    width: 100%;
    
  }
  #wholeDiv{
    /* border: 2px solid blue; */
    box-sizing: border-box;
  }
  #rightSideOfPopUp{
    /* border: 3px solid green; */
    width: 100%;
  }
  #divOfTextInp{
    width: 100%;
    /* border: 2px solid black; */
  }
  #bothInps{
    /* border: 2px solid red; */
    width: 100%;
    flex-direction: column;
    height: 100px;
  }
  .inps{
    width: 100%;
  }
  #holderOfTextareaAndImg, textarea{
    /* border: 2px solid rgb(207, 0, 0); */
    height: 120px;
  }
}

#fileInput {
}
input[type="date"] {
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
}
::-webkit-calendar-picker-indicator {
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
}
#submitMemoryBtn {
  width: 100%;
  height: 50px;
  font-size: clamp(10px, 2vw, 15px);

  background-color: black;
  border: 1px solid black;
  color: white;
  border-radius: 25px;
  cursor:
    url(cursor/Preppy\ Pinky\ Spider-Man\ Arrow--p.png) 0 0,
    auto;
  transition: all 0.2s ease-in-out;
}
#submitMemoryBtn:hover {
  transform: scale(1.05);
  border: 1px solid white;
  box-shadow: 0 0 10px white;
}

#rightColor {
  position: absolute;
  background-color: #bd8100;
  top: 0;
  right: 0;
  width: 50%;
  height: 100%;
  border-radius: 0 20px 20px 0;
  z-index: -1;
  box-sizing: border-box;
  border-left: 3px dashed #0000008a;
}

/* spinner */

#loader {
  display: block;
}
.center {
  display: flex;
  z-index: 999;
}
.back {
  z-index: 999;
  position: fixed;
  padding: 0;
  margin: 0;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: white;
  animation-name: backdiv;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}

.heart {
  z-index: 999;
  position: absolute;
  margin: auto;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: pink;
  height: 50px;
  width: 50px;
  transform: rotate(-45deg);
  animation-name: beat;
  animation-duration: 1s;
  animation-iteration-count: infinite;
}
.heart:after {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: 0px;
  left: 25px;
}
.heart:before {
  background-color: pink;
  content: "";
  border-radius: 50%;
  position: absolute;
  width: 50px;
  height: 50px;
  top: -25px;
  left: 0px;
}

@keyframes backdiv {
  50% {
    background: #ffe6f2;
  }
}

@keyframes beat {
  0% {
    transform: scale(1) rotate(-45deg);
  }
  50% {
    transform: scale(0.6) rotate(-45deg);
  }
}
